.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 0.5rem;
    margin-top: 3rem;
    color: var(--color-gray);
}

@media screen and (width <= 768px){
    .mainContainer{
        font-size: 0.875rem;
    }
}